<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>kEdge Home Page</title>
    <meta name="description" content="Simple HTML5 Dashboard for kEdge" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="{{url_for('static', filename='script.js')}}"></script>
  </head>
  <body>
    <header>
      <div id="logo">
        <img src="{{url_for('static', filename='LoGo0016.png')}}" />
        kEdge&nbsp;Dashboard
      </div>
      <nav>
        <ul>
          <li><a href="/">Overview</a></li>
          <li><a href="/list">List</a></li>
          <li><a href="/trend">Trend</a></li>
          <li><a href="/settings">Settings</a></li>
        </ul>
      </nav>
    </header>
    <section id="pageHeadder">
      <strong>Pasteurizer  Overview</strong>
    </section>
    <section class="flex_layout_1">
      <main role="main">
        <article>
          <div class="flex_layout_1">
            <div>
              <img src="{{url_for('static', filename='Pasto_1.png')}}" />
            </div>
            <div class="grid_1">
              <div>
                <h2>Temperature</h2>
                <p id = "Temperature">#com</p>
                <h2>Conductivity</h2>
                <p id = "Conductivity">#com</p>
              </div>
              <div>
                <h2>Volume</h2>
                <p id = "Volume">#com</p>
              </div>
              <div>
                <h2>Agitator</h2>
                <p id = "Agitator">#com</p>
                <h2>Heater</h2>
                <p id = "Heater">#com</p>
              </div>
            </div>
          </div>
        </article>
        <script>
          setInterval(function() {
              // code to be executed repeatedly
                        Update_Overview();
              }, 2000);
       </script>
      </main>
      <aside>
        <nav>
          <div class ="flex_layout_buttons">
            <button class="button button_green" onclick="Start_Batch()">START Batch</button>
            <button class="button button_red" onclick="Stop_Batch()">STOP Batch</button>
            <button class="button button_green" onclick="Start_Agitator()">START Agitator</button>
            <button class="button button_red"onclick="Stop_Agitator()">STOP Agitator</button>
          </div>
        </nav>
      </aside>
    </section>
    <footer>
      <table id="statusTable">
        <tr>
          <th hidden>ID</th>
          <th>EventDate</th>
          <th>Status</th>
          <th>Cycle Time (s)</th>
        </tr>
        <tr>
          <td>{{EventDate}}</td>
          <td>{{Status}}</td>
          <td>{{CycleTime}}</td>
        </tr>
      </table>

      <div>
        <p>@ Kilderry Instruments Ltd, IIOT EDGE Webpage</p>
      </div>
    </footer>
  </body>
</html>
