<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>kEdge Home Page</title>
    <meta name="description" content="Simple HTML5 Dashboard for kEdge" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="./templates/script.js"></script>
  </head>
  <body>
    <header>
      <div id="logo">
        <img src="{{url_for('static', filename='LoGo0016.png')}}" />
        kEdge&nbsp;Dashboard
      </div>
      <nav>
        <ul>
          <li><a href="/">Overview</a></li>
          <li><a href="/list">List</a></li>
          <li><a href="/trend">Trend</a></li>
        </ul>
      </nav>
    </header>
    <section id="pageHeadder">
      <strong>Pasteurizer 1 Overview</strong>
    </section>
    <section class="flex_layout_1">
      <main role="main">
        <article>
          <div class="flex_layout_1">
            <div>
              <img src="{{url_for('static', filename='Pasto_1.png')}}" />
            </div>
            <div class="grid_1">
              <div>
                <h2>Temperature</h2>
                <p>23.4 C</p>
              </div>
              <div>
                <h2>Volume</h2>
                <p>123.4 L</p>
              </div>
              <div>
                <h2>Agitator</h2>
                <p>Stopped</p>
              </div>
              <div>
                <h2>Batch</h2>
                <p>Stopped</p>
              </div>
            </div>
          </div>
        </article>
      </main>
      <aside>
        <nav>
          <ul>
            <li>
              <button class="button button_green">START Batch</button>
            </li>
            <li>
              <button class="button button_red">STOP Batch</button>
            </li>
            <li>
              <button class="button button_green">START Agitator</button>
            </li>
            <li>
              <button class="button button_red">STOP Agitator</button>
            </li>
          </ul>
        </nav>
      </aside>
    </section>
    <footer>
      <table id="statusTable">
        <tr>
          <th hidden>ID</th>
          <th>EventDate</th>
          <th>Status</th>
          <th>Cycle Time (s)</th>
        </tr>
        {% for row in rows %}
        <tr>
          <td hidden>{{row["id"]}}</td>
          <td>{{row["EventDate"]}}</td>
          <td>{{row["Status"]}}</td>
          <td>{{row["CycleTime"]}}</td>
        </tr>
        {% endfor %}
      </table>

      <div>
        <p>@ Kilderry Instruments Ltd, IIOT EDGE Webpage</p>
      </div>
    </footer>
  </body>
</html>
