<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://html5-templates.com/" />
    <title>kEdge Home Page</title>
    <meta name="description" content="Simple HTML5 Dashboard for kEdge" />
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
    <script src="{{url_for('static', filename='Chart.min.js')}}"></script>
    <script src="{{url_for('static', filename='script.js')}}"></script>
</head>

<body>
    <header>
        <div id="logo">
            <img src="{{url_for('static', filename='LoGo0016.png')}}" />
            kEdge&nbsp;Dashboard
        </div>
        <nav>
            <ul>
                <li><a href="/">Overview</a></li>
                <li><a href="/list">List</a></li>
                <li><a href="/trend">Trend</a></li>
            </ul>
        </nav>
    </header>
    <section id="pageHeadder">
        <strong>Pasteurizer 1 Trend</strong>
    </section>
    <section class="flex_layout_1">
        <main role="main">
            <article>
                <div class=flex_layout_chart_select>
                    <div>
                        <label for="myStartDate">Start Date:</label>
                        <input type="datetime-local" id="myStartDate" value="2024-02-05T20:25:33">
                    </div>
                    <div>
                        <label for="myStopDate">Stop Date:</label>
                        <input type="datetime-local" id="myStopDate" value="2024-02-05T20:25:33">
                    </div>
                    <div>
                        <label for="pvo_title">Process Variable:</label>
                        <select name="Value" id="pvo_title">
                            <option value="Temperature">Temperature</option>
                            <option value="Volume">Volume</option>
                            <option value="Level">Level</option>
                            <option value="Conductivity">Conductivity</option>
                          </select>
                    </div>
                    <div>
                        <label for="pvo_title">Chart Type:</label>
                        <select name="Value" id="chart_type">
                            <option value="line">Line</option>
                            <option value="bar">Bar</option>
                            <option value="scatter">Scatter</option>
                          </select>
                    </div>
                    <div>
                        <button class="button_small button_blue" type="button" onclick="UpdateTrendChart()">
                            Update
                        </button>
                    </div>

                </div>
                   
                </div>
                <div class="flex_layout_chart">
                        <canvas id="myChart" style="width:100%;max-width:90%"></canvas>
                        <script>
                            UpdateTrendChart();
                        </script>
                </div>
                
            </article>

            </div>
        </main>


        <aside>
            <nav>
                <div class ="flex_layout_buttons">
                    <button class="button button_green" onclick="FixedChartRange(1)">Today</button>
                    <button class="button button_green" onclick="FixedChartRange(2)">Yesterday</button>
                    <button class="button button_green" onclick="FixedChartRange(3)">This Week</button>
                    <button class="button button_green" onclick="FixedChartRange(4)">This Month</button>
                </div>
            </nav>
        </aside>
    </section>
    <footer>
        <div>
            <p>@ Kilderry Instruments Ltd, IIOT EDGE Webpage</p>
        </div>
    </footer>
</body>

</html>